:root {
  --first-color: #ff6c6c;
  --second-color: #ffadad;
  --thrid-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    var(--first-color),
    var(--second-color)
  );
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
